<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReplayParser.ReplaySorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
  </appSettings>
  <userSettings>
    <ReplayParser.ReplaySorter.Properties.Settings>
      <setting name="LOGDIRECTORY" serializeAs="String">
        <value />
      </setting>
      <setting name="MAXUNDOLEVEL" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CHECKFORUPDATES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REMEMBERPARSINGDIRECTORY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LASTPARSINGDIRECTORY" serializeAs="String">
        <value />
      </setting>
      <setting name="LOADREPLAYSONSTARTUP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PARSESUBDIRECTORIES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CHECKFORDUPLICATES" serializeAs="String">
        <value>True</value>
      </setting>
    </ReplayParser.ReplaySorter.Properties.Settings>
  </userSettings>
</configuration>
